<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd >
<!--
	launchctl unload ~/Library/LaunchAgents/com.j.osx.otp_mailcheck.plist
  launchctl load ~/Library/LaunchAgents/com.j.osx.otp_mailcheck.plist
-->
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.j.osx.otp_mailcheck</string>
    <key>ProgramArguments</key>
    <array>
      <string>/usr/bin/env</string>
      <string>bash</string>
      <string>/Users/j/code/otpmailcheck/run.sh</string>
    </array>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/tmp/otp.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/otp_err.log</string>
    <key>UserName</key>
    <string>j</string>
  </dict>
</plist>
